<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <p class="alert alert-danger">
        {{errorMessage}}
      </p>
    </div>
  </div>
</div>

<ngx-ui-loader
  loaderId="validate-loader"
  textColor="white"
  fgsColor="#8BBB04"
  pbColor="#8BBB04"
  fgsType="rectangle-bounce-pulse-out"
  [hasProgressBar]="false"
></ngx-ui-loader>
