<div class="report-container">
  <div class="row">
    <div class="col-sm-12">
      <a class="fa fa-home home-icon" aria-hidden="true" routerLink="/report-details"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="reportForm" (ngSubmit)="downloadButton()">
        <div class="row mt-4">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" *ngIf="reportForm.get('reportName').invalid">
              <div class="col-sm-12 text-right"><p class="notification">* Enter the report name</p></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label for="reportName">Report name</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" class="form-control" id="reportName" formControlName="reportName"
                             autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" *ngIf="reportForm.get('siteName').value === null">
              <div class="col-sm-12 text-right"><p class="notification">* Select site name</p></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label for="sitename">Site Names</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <select id="sitename" class="form-control" (change)="changeSite($event)"
                              formControlName="siteName">
                        <option [value]="null" disabled>Select site</option>
                        <option *ngFor="let siteInfo of sitesData.sites" [value]="siteInfo.site">{{siteInfo.site}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" *ngIf="reportForm.get('resolution').value === null">
              <div class="col-sm-12"><p class="notification">* Select Resolution</p></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label for="resolution">Resolution Type</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <select id="resolution" class="form-control" (change)="onChangeResolution()"
                              formControlName="resolution">
                        <option [ngValue]="null" disabled>Select resolution</option>
                        <option *ngFor="let resolution of RESOLUTIONS_TYPE" [ngValue]="resolution">{{resolution}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" *ngIf="reportForm.get('format').value === null">
              <div class="col"><p class="notification">* Select Format</p></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label for="format">Format</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <select id="format" class="form-control" (change)="onChangeFormat($event)"
                              formControlName="format">
                        <option [ngValue]="null" disabled>Select format</option>
                        <option *ngFor="let format of REPORT_FORMAT" [ngValue]="format">{{format}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label for="period">Period</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row" *ngIf="totolDays > 365">
                  <div class="col"><p class="notification">*Please select date range less than year</p></div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <div class="date-picker-wrapper">
                        <input class="form-control" id="period" type="text" ngxDaterangepickerMd
                               [autoApply]="true"
                               disabled
                               [linkedCalendars]="true"
                               [locale]="{customRangeLabel: 'Custom', format: 'DD/MM/YYYY', displayFormat: 'DD/MM/YYYY'}"
                               [minDate]="minDate"
                               [maxDate]="maxDate"
                               startKey="start"
                               endKey="end"
                               [showCustomRangeLabel]="true" [ranges]="ranges"
                               [alwaysShowCalendars]="true"
                               [placeholder]="displayDate"
                               opens="center"

                               (change)="changeRange($event)" formControlName="dateRange">
                        <div class="data-picker">
                          <!--<img class="ngx-daterangepicker-action" src="../../../../../assets/icon/Calendar-01.svg"
                               (click)="toggleDatePicker($event)" alt="calendar">-->
                          <button type="button"
                                  class="fa fa-calendar ngx-daterangepicker-action"
                                  style="background: transparent; border: none"
                                  (click)="toggleDatePicker($event)" [disabled]="!validateModel.isReportFormatSelected"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" *ngIf="reportForm.get('deviceType').value === null">
              <div class="col"><p class="notification">* Select Devices Type</p></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label for="deviceType">Device Type</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <select id="deviceType" class="form-control" (change)="onChangeDeviceType()"
                              formControlName="deviceType">
                        <option [ngValue]="null" disabled>Select Device Type</option>
                        <option *ngFor="let deviceType of deviceTypes" [ngValue]="deviceType">{{deviceType}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" *ngIf="selectedDeviceCount === 0 && validateModel.isDeviceTypeSelected">
              <div class="col"><p class="notification">* Select atleast one device from list</p></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label>Device List</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <div class="row button-container">
                        <div class="col-sm-10">
                          <button  (click)="deviceModal.show()" type="button"
                                  class="btn-custom">
                            <span *ngIf="shownDevicesList.length === 0">All Devices:</span>
                            <span *ngIf="shownDevicesList.length > 0">{{selectedDeviceCount}} Devices:</span>
                            <div class="align-img">
                              <img src="../../../assets/icon/Add03.svg" alt="add-grey">
                            </div>
                          </button>
                        </div>
                        <div class="col-sm-2">
                          <!--                          <span class="countspan">{{selectedDeviceCount}}/{{deviceCount}}</span>-->
                          <i class="fa fa-eye-slash" style="font-size: 20px; margin-top: 5px" *ngIf="shownDevicesList.length === 0"></i>
                          <i class="fa fa-eye" *ngIf="shownDevicesList.length > 0" (click)="displayDevices()"
                             [ngClass]="{'fa-eye-active':shownDevicesList.length > 0}"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" *ngIf="selectedParamsCount === 0 && validateModel.isDeviceTypeSelected">
              <div class="col"><p class="notification">* Select atleast one parameter from list</p></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label>Parameters List</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-10 button-container">
                          <button [disabled]="!isDeviceTypeSelected" (click)="paramsModal.show()" type="button"
                                  class="btn-custom">
                            <span *ngIf="shownParamsList.length === 0">All Parameters:</span>
                            <span *ngIf="shownParamsList.length > 0">{{selectedParamsCount}} Parameters:</span>
                            <div class="align-img">
                              <img *ngIf="!openParamsBoxModal" src="../../../assets/icon/Add03.svg" alt="add-grey">
                            </div>
                          </button>
                        </div>
                        <div class="col-sm-2">
                          <i class="fa fa-eye-slash" style="font-size: 20px;margin-top: 5px" *ngIf="shownParamsList.length === 0"></i>
                          <i class="fa fa-eye" *ngIf="shownParamsList.length > 0" (click)="displayParams()"
                             [ngClass]="{'fa-eye-active':shownParamsList.length > 0}"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label>Email</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row" *ngIf="reportForm.get('emails').invalid && reportForm.get('emails').touched">
                  <div class="col"><p class="notification">* Please enter valid email id</p></div>
                </div>
                <div class="row" *ngIf="isEmailLimitExceeds">
                  <div class="col"><p class="notification">You can add only five emails..!!</p></div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="emails">
                      <button type="button"
                              class="mt-3"
                              [ngClass]="{'add-email-button': !reportForm.get('emails').invalid , 'disable-email-button':reportForm.get('emails').invalid}"
                              (click)="onEmailAdd()" [disabled]="this.reportForm.get('emails').invalid">Add</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col text-lg-center text-sm-center text-xs-left">
                    <label class="displayEmail" *ngFor="let email of emailsToDisplay; let i = index">{{email}} <span class="close" (click)="onDeleteEmail(i)">x</span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-sm-6 text-center">
            <span class="form-group"><input type="checkbox" formControlName="isSingleFile"> Day wise file</span>
          </div>
          <div class="col-sm-6">
            <div class="row" *ngIf="!this.validateModel.isCappingValid">
              <div class="col text-left"><p class="notification">*Please reduce Device/param selection or number of days</p></div>
            </div>
            <div class="row">
              <div class="form-group">Data Points:- {{this.dataPointCount}} / {{this.totalCapping}}</div>
            </div>
          </div>
        </div>

        <div class="row mt-4 justify-content-center">
          <div class="col-sm-8">
            <div class="btn-wrapper">
              <button type="button" (click)="formReset()">Reset Form</button>
              <button [ngClass]="{active: validateModel.isValid}" [disabled]="!validateModel.isValid">Download</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-ui-loader
        fgsType="rectangle-bounce-pulse-out" fgsColor="#8BBB04" [hasProgressBar]="false"
        loaderId="api-loader"
        textColor="white"
        pbColor="#8BBB04"
></ngx-ui-loader>

<!---------Device Modal-------------->
<div bsModal #deviceModal="bs-modal" class="modal fade device-modal-container" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Device List</h4>
        <button type="button" class="close pull-right" (click)="deviceModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="modal-wrapper" #openDeviceBoxElement>
              <div class="modal-custom">
                <div class="content-wrapper">
                  <div class="header-controll">
                    <div class="search">
                      <input type="text" placeholder="Search Devices" #zonesSearchInput id='zonesSearchInput'
                             (keyup)="searchDevices($event.target.value)">
                    </div>
                    <div class="modal-btn">
                      <button (click)="changeStateForAllDevices(true)">Select All</button>
                      <button (click)="changeStateForAllDevices(false)">Clear All</button>
                    </div>
                  </div>
                  <div class="modal-content-wrapper ">
                    <div *ngFor="let zoneItem of zonesViewModel.zones; let i = index" class="modal-custom-content">
                      <span>{{zoneItem.zone}}</span>
                      <div *ngFor="let deviceItem of zoneItem.devices; let j = index" class="custom-check">
                        <label>
                          <input type="checkbox" (click)="changeDeviceState(zoneItem.devices, deviceItem.deviceId)">
                          <div class="check-img">
                            <img *ngIf="!zoneItem.devices[j].deviceState" src="../../../assets/icon/CheckBox-01.svg"
                                 alt="zoneItem.devices[j].deviceState">
                            <img *ngIf="zoneItem.devices[j].deviceState" src="../../../assets/icon/CheckBox-02.svg"
                                 alt="zoneItem.devices[j].deviceState">
                          </div>
                        </label>
                        <span title="{{deviceItem.displayName}}">{{deviceItem.displayName}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="apply-btn-wrapper">
                    <button (click)="cancelDevices()">Cancel</button>
                    <button (click)="applyDevices()">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------------------------->


<!----------------Selected Device List------------------------->
<div bsModal #selectedDeviceModal="bs-modal" class="modal fade device-modal-container" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name6" class="modal-title pull-left">Selected Device List</h4>
        <button type="button" class="close pull-right" (click)="selectedDeviceModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="display-modal">
          <div class="row">
            <div class="col">
              <label><span><b>Total Devices: - </b>{{deviceCount}}</span></label>
            </div>
            <div class="col">
              <label><span><b>Selected Device:- </b>{{selectedDeviceCount}}</span></label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="selected-list" *ngFor="let device of shownDevicesList">{{device}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------->

<!------------Parameters Modal--------------->
<div bsModal #paramsModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">Parameters List</h4>
        <button type="button" class="close pull-right" (click)="paramsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row device-modal-container">
          <div class="col-md-4 col-sm-6 col-xs-8">
            <div class="modal-wrapper" #openParamsBoxElement>
              <div class="modal-custom">
                <div class="content-wrapper">
                  <div class="header-controll">
                    <div class="search">
                      <input type="text" placeholder="Search Parameters" #paramsSearchInput id='paramsSearchInput'
                             (keyup)="searchParams($event.target.value)">
                    </div>
                    <div class="modal-btn">
                      <button (click)="changeStateForAllParams(true)">Select All</button>
                      <button (click)="changeStateForAllParams(false)">Clear All</button>
                    </div>
                  </div>
                  <div class="modal-content-wrapper">
                    <div *ngFor="let patamsItem of paramsModel.paramsList; let i = index"
                         class="modal-custom-content">
                      <span>{{patamsItem.paramsSelector}}</span>
                      <div *ngFor="let param of patamsItem.parameters; let j = index" class="custom-check">
                        <label>
                          <input type="checkbox"
                                 (click)="changeParamState(patamsItem.parameters, param.platformName, null)">
                          <div class="check-img">
                            <img *ngIf="!param.paramState" src="../../../assets/icon/CheckBox-01.svg"
                                 alt="param.paramState">
                            <img *ngIf="param.paramState" src="../../../assets/icon/CheckBox-02.svg"
                                 alt="param.paramState">
                          </div>
                          <span title="{{param.displayName}}">{{param.displayName}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="apply-btn-wrapper">
                    <button (click)="cancelParams()">Cancel</button>
                    <button (click)="applyParams()">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------->

<!----------------Selected parameters List------------------------->
<div bsModal #selectedParamsModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name4" class="modal-title pull-left">Selected Parameters List</h4>
        <button type="button" class="close pull-right" (click)="selectedParamsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="display-modal">
          <div class="row">
            <div class="col">
              <label><span><b>Total Parameters: -</b> {{parametersCount}}</span></label>
            </div>
            <div class="col">
              <label><span><b>Selected Parameters:- </b>{{selectedParamsCount}}</span></label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="selected-list" *ngFor="let param of shownParamsList">{{param}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------->

<!---------------------------Devices and Params selected modal----------------------------------->
<div bsModal #downloadpop="bs-modal" class="modal fade device-modal-container" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="displayInfo" class="modal-title pull-left">{{displayModalTitle}}</h4>
        <button type="button" class="close pull-right" (click)="downloadpop.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="modal-wrapper" #openDeviceBoxElement>
              <div class="modal-custom">
                <div class="content-wrapper">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
