.new-button {
  width: 178px;
  height: 30px;
  border: 1px solid #8BBB04;
  background-color: #FFFFFF;
  border-radius: 4px;
  opacity: 1;
}

table{
  width: 100%;
}

.table-header{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color:#5D5C5C;
}

.icons-button{
  padding: 3px 10px;
  cursor: pointer;
  border: none;
  color: #8bbb04;
  background: transparent;
  font-size: 20px;
}

.disabled {
  cursor: not-allowed;
  //pointer-events: none;
  color: #ccc;

}

.active-download {
    cursor: pointer;
    //pointer-events: none;
    color: #8bbb04;
}

.tooltip-active {
  background-color: #244C5A;
  color: white;
}

.form-control-label{
  font-size: 14px;
  margin-right: 15px;
  margin-top: 5px;
}

/*-----------------Action Icons----------------------*/
.cancel-disabled {
  background: url("../../../../../assets/icon/table-actions/Cancel-Uploading_01.png") no-repeat;
  height: 16px;
  width: 16px;
  cursor: not-allowed;
}
.cancel-active {
  background: url("../../../../../assets/icon/table-actions/Cancel-Uploading_03.png") no-repeat;
  height: 16px;
  width: 16px;
}

.delete-disabled {
  margin-left: 10px;
  padding: 1px 5px;
  background: url("../../../../../assets/icon/table-actions/Delete_01.png") no-repeat;
  height: 16px;
  width: 16px;
}
.delete-active {
  padding: 1px 5px;
  background: url("../../../../../assets/icon/table-actions/Delete_03.png") no-repeat;
  height: 16px;
  width: 16px;
}

.download-disabled {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  background: url("../../../../../assets/icon/table-actions/Download-01.png") no-repeat;
  height: 16px;
  width: 16px;
}
.download-active {
  background: url("../../../../../assets/icon/table-actions/Download-03.png") no-repeat;
  height: 16px;
  width: 16px;
}

/*--------------------------------------------------*/
/*mat-table{
  border: 1px solid #CCCCCC;
}
mat-header-cell{
  font-size: 12px;
  color:#5D5C5C;
  background: #ECEDF0;
}

mat-header-row{
  border: 1px solid #ccc;
  min-height: 32px;
}

mat-row{
  font-size: 12px;
  border: 1px solid #ccc;
  min-height: 32px;
}

.mat-sort-header-button{
  font-family: Roboto Medium;
}

.table-container{
  height: 70vh;
  overflow: auto;
}

.filter-row{
  height: 5vh;
}
.tableRow{
  height: 70vh;
}*/

tr.mat-header-row {
  height: 32px;
  background: #ECEDF0;
}

.mat-column-id{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-reportName{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-dateRange{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-status{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-progress{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}


