<div class="report-details-page-container">
  <div class="row mb-2">
    <div class="col-sm-10">
      <div class="form-group row justify-content-end">
        <label for="sitename" class="form-control-label">Site Names</label>
        <select id="sitename" class="form-control col-sm-6" (change)="changeSite($event)" [(ngModel)]="defaultSite">
          <option [ngValue]="null" disabled>Select site</option>
          <option *ngFor="let siteInfo of sitesData.sites" [value]="siteInfo.site">{{siteInfo.site}}
          </option>
        </select>
      </div>

    </div>
    <div class="col-sm-2 text-right">
      <button class="new-report-button" (click)="onNewReport()">New Report &nbsp; +</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <p class="alert alert-info text-center mt-5" *ngIf="!isDataLoaded">No data found..!!</p>
          <p class="alert alert-danger text-center mt-5" *ngIf="isServerError">Internal Server Error..!!</p>
        </div>
      </div>
      <p-table
        #plainTable
        [value]="tableData"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20, 100]"
        [rows]="10"
        scrollable="true"
        scrollHeight="300px"
        [autoLayout]="true"
        [sortOrder]="1"
        *ngIf="isDataLoaded && !isServerError"
        [globalFilterFields]="['reportName','status','progress','startDate']"
      >
        <ng-template pTemplate="caption">
          <div class="form-group">
            <div class="input-group">
              <input type="text" pInputText size="50" placeholder="search" (input)="plainTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon5"><i class="material-icons">search</i></span>
              </div>
            </div>
          </div>
          <!--<div class="input-group">
            <i class="fa fa-search input-group-append" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="plainTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>-->
        </ng-template>
        <ng-template pTemplate="header">
          <tr style="text-align: center">
            <th pSortableColumn="reportName">
              Report Name
              <p-sortIcon field="reportName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th pSortableColumn="startDate">Date Range
              <p-sortIcon field="startDate" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th pSortableColumn="status">Status
              <p-sortIcon field="status" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th pSortableColumn="progress">Progress
              <p-sortIcon field="progress" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
          <tr style="text-align: center">
            <td>
              {{report.reportName}}
            </td>
            <td>{{report.dateRange.start}} - {{report.dateRange.end}}</td>
            <td>{{report.status}}</td>
            <td><p-progressBar [value]="report.progress"></p-progressBar></td>
            <td>
              <button class="icons-button"
                      pTooltip="Stop Processing" tooltipPosition="top" tooltipEvent="hover"
                      [ngClass]="{'cancel-disabled' : report.status === 'Completed' || 'Zipping' || 'Failed', 'cancel-active': report.status === 'Waiting' ||  report.status === 'Processing'}"
                      (click)="cancelReportProcessing(report)"></button>
              <button
                class="icons-button"
                pTooltip="Delete Report" tooltipPosition="top" tooltipEvent="hover"
                (click)="onDeleteReport(report)"
                [ngClass]="{'delete-disabled' : report.status === 'Waiting' || 'Processing' || 'Failed', 'delete-active': report.status === 'Completed' || report.status === 'Cancel'}"></button>
              <a pTooltip="Download Report" tooltipPosition="top" tooltipEvent="hover"
                 *ngIf="!isDownloadDisabled(report)" href="" class="icons-button"
                 [class.disabled] = "!isDownloadDisabled(report)"
                 (click)="$event.preventDefault()"
                 [ngClass]="{'download-disabled' : report.status === 'Waiting' || 'Processing' || 'Failed', 'download-active': report.status === 'Completed'}"></a>
              <a pTooltip="Download Report" tooltipPosition="top" tooltipEvent="hover"
                 *ngIf="isDownloadDisabled(report)" [href]="report.downloadedPath" class="icons-button"
                 [class.active-download] = "isDownloadDisabled(report)"
                 [ngClass]="{'download-disabled' : report.status === 'Waiting' || 'Processing' || 'Failed', 'download-active': report.status === 'Completed'}"></a>
              &nbsp;<span (click)="onReportEdit(report)"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 18px;color: #8bbb04"></i></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!--<mat-paginator [pageSize]="" [pageSizeOptions]="[5, 7, 9, 10]" *ngIf="isDataLoaded">
      </mat-paginator>-->
    </div>
    <ngx-ui-loader
      loaderId="tableData"
      textColor="white"
      fgsColor="#8BBB04"
      pbColor="#8BBB04"
      fgsType="rectangle-bounce-pulse-out"
      [hasProgressBar]="false"
    ></ngx-ui-loader>
  </div>
</div>

<ngx-ui-loader
  fgsType="rectangle-bounce-pulse-out"
  fgsColor="#8BBB04"
  loaderId="site-loader"
  textColor="white"
  pbColor="#8BBB04"
  [hasProgressBar]="false"
></ngx-ui-loader>

<!-----------------Download popup-------------------->
<div bsModal #downloadpop="bs-modal" class="modal fade device-modal-container" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="displayInfo" class="modal-title pull-left">Report Path</h4>
        <button type="button" class="close pull-right" (click)="downloadpop.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="modal-wrapper" #openDeviceBoxElement>
              <div class="modal-custom">
                <div class="content-wrapper">
                  {{reportNameToDownload}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-----------Delete Popup-------------->
<div bsModal #deletepopup="bs-modal" class="modal fade device-modal-container" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Are you sure?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
        <button type="button" class="btn btn-primary" style="background: #8BBB04;border-color: #8BBB04" (click)="decline()" >No</button>
      </div>
    </div>
  </div>
</div>
