.row {
  margin-right: 0px;
  margin-left: 0px;
}
.bg-light {
  height: 91vh;
  width: 100%;
}

.header-top {
  width: 100%;
  z-index: 999;
  height: 4vh;
  background-color: #244C5A;
}

.header-top-left {
  float: left;
  padding-left: 22px;
}

.solar-logo {
  background: url("/../assets/images/Logo_Solarpulse logo_White_H-18x.svg");
  height: 25px;
  width: 135px;
  background-size: 105px;
  display: block;
  float: left;
  margin-top: 2px;
  margin-left: -15px;
  background-repeat: no-repeat; }

.main-content{
  padding: 10px;
  height: 100%;
}

.footer {
  width: 100%;
  bottom: 0px;
  height: 5vh;
  background: #11313D;
  color: #dbe9f2;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}
.footer-txt {
  color: white;
  font-size: 12px;
  float: left;
  margin-left: 40px;
}
.copy {
  float: right;
  margin-right: 40px;
}
.btn {
  width: 98px;
  height: 24px;
  font-size: 10px;
}
.txt-light {
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  padding-right: 5px;
}
.txt-dark {
  font-size: 10px;
  font-weight: bold;
  color: #434343;
  padding-right: 5px;
}
.btn-mode {
  position: absolute;
  top: 34px;
  left: 85%;
}
.site-name {
  font-size: 14px;
  font-weight: bold;
  color: #689400;
}
.light-btn {
  color:  #FFFFFF;
  border: 1px solid #8BBB04;
  background-color: #8BBB04;
  padding-top: 3px;
}
.dark-btn {
  color: #7B7B7B;
  border: 1px solid #8BBB04;
  background-color: #FFFFFF;
  padding-top: 3px;
}
.btn:focus, .btn.focus {
  box-shadow: none !important;
}

.loggedInUserText{
  color: white;
  font-size:12px;
}
