<div class="header-top">
  <div class="row">
    <div class="col">
      <div class="header-top-left">
        <span class="solar-logo "></span>
      </div>
    </div>
    <div class="col text-right">
      <span class="loggedInUserText">{{loggedInUser}}</span>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="row main-content">
    <div class="col-sm-12 col-md-12 col-lg-12 h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="footer">
  <span class="footer-txt">In case of any issues logging in, please feel free to reach out to us on 1860-266-3911 (Mon-Sat | 9 AM-6 PM)    or    write to us at wecare@mahindrateqo.com</span>
  <span class="copy">
                    © Copyright {{currentDate | date: 'dd-MM-yyyy'}} MAHINDRA TEQO.
                        All
                        Rights Reserved
                    </span>
</footer>


