.container-fluid {
  height: 100%;
}
label, p {
  margin: 0;
}

.form-label {
  font-size: 12px;
  color: #adadad;
}

.error-msg {
  font-size: 10px;
  color: red;
  display: flex;
  justify-content: flex-end;
}

.notification {
  color: rgb(59, 59, 248);
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

.disabledCustom {
  color: #adadad;
}

.modalHide {
  display: none;
}

/*------style for select-------------*/
::ng-deep .changeSelect.ng-select .ng-select-container {
  border: 1px solid black;
  outline: none;
}

/*------style for select-------------*/
.tech-report-container {
  //margin-top: 15vh;
  border: 1px solid #8bbb04;
  padding: 2vh;
  border-radius: 6px;
}

.element {
  margin: 15px;
}

.block-wrapper {
  border-bottom: 1px solid #d3d3d3;
}

.title-block {
  color: #8bbb04;
  font-size: 16px;
}

input[disabled] {
  background: white;
}

.element-email {
  padding: 0;
}

.site-select {
  position: relative;
}

::ng-deep {
  .ng-option {
    border-bottom: 1px solid #cccccc;
    margin: 0 10px;
    padding: 5px 10px;
  }

  .ng-dropdown-panel {
    .ng-dropdown-panel-items .ng-option.ng-option-marked {
      background-color: #D0D344;
    }

    div::-webkit-scrollbar {
      width: 5px;
    }
  }
}

::ng-deep .ng-dropdown-panel-items.scroll-host {
  margin: 5px;
}

::ng-deep .ng-dropdown-panel div::-webkit-scrollbar-thumb {
  background: #cacaca;
}


.content-wrapper .apply-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid lightgray;
  padding-top: 20px;
  margin-top: 10px;

  button {
    background: transparent;
    border: 1px solid #949494;
    padding: 3px 45px;
    border-radius: 5px;
    color: #949494;
    cursor: pointer;

    &:last-child {
      background: #8bbb04;
      color: white;
      border-color: #8bbb04;
      margin-left: 15px;
    }
  }
}

.file-input {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 36px;
  padding: 0 10px;

  label {
    display: flex;
    margin: 0;
    height: 100%;

    img {
      border-right: 1px solid lightgray;
      padding-right: 10px;
      cursor: pointer;
    }

    input {
      display: none;
    }
  }
}

.email-ftp-wrapper {
  padding: 0 15px;
  min-width: 33%;
}

.save-option {
  .custom-check {
    input {
      display: none;
    }

    width: auto;
    height: auto;
    display: flex;
    align-items: center;

    label {
      width: 15px;
      height: 15px;
      margin: 0;
      display: flex;
    }

    span {
      margin-left: 10px;
    }
  }
}

.email-ftp {
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  min-width: 17vw;
}

.email-ftp-wrapper .email {
  border: 1px solid #8bbb04;
  padding: 0 10px;
  border-radius: 5px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  height: 30px;
  color: #8bbb04;
}

.email-ftp {
  .add-email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  input {
    height: 30px;
    border: none;
    outline: none;
    margin: 0 10px;
  }
}

.email-ftp-wrapper .email .close {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid #8bbb04;
  cursor: pointer;

  img {
    width: 15px;
    height: 15px;
  }
}

#deviceButton {
  margin-top: 0;
  margin-bottom: 0;
}

.form-control {
  font-size: 14px;
  box-shadow: none;
  border: 1px solid lightgray;
  height: 36px;
  padding-left: 7px;
}

.form-check-input {
  padding: 0;
  margin-right: 5px;
}

.tech-report-select {
  height: 36px;
  background-color: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  padding-left: 5px;
}

body {
  font-size: 14px;
}

.download-button {
  width: 100%;
}

.date-picker-wrapper {
  position: relative;

  ::ng-deep {
    .md-drppicker {
      //border-style: none;
      margin: 0;
      margin-top: 5px;
      padding: 0;
      border: solid 2px #cacaca;
      border-radius: 0;
      width: max-content;
      display: flex;

      .ranges {
        order: 3;
        width: fit-content;
        border-left: solid 2px #cacaca;

        .active {
          background-color: #8bbb04 !important;
        }

        ul {
          li {
            button {
              border-radius: 5px;
              width: 150px;
              margin: 5px 15px;
              background: #eef3f6;
            }

            &:hover {
              background: transparent !important;
            }
          }
        }
      }

      td {
        &.active,
        &.active:hover {
          background: #8bbb04 !important;
          border-radius: 5px !important;
          margin: 0;
        }

        &.available {
          &.prev {
            //background-image: url("../../../assets/icon/left-arrow.svg") !important;
            background-image: url("../../../../../assets/icon/left-arrow.svg") !important;
            opacity: 1 !important;
            background-size: 1.2em !important;
          }

          &.next {
            background-image: url("../../../../../assets/icon/left-arrow.svg") !important;
            transform: rotate(180px);
            opacity: 1 !important;
            background-size: 1.2em !important;
          }

          &:hover {
            border-radius: 5px;
            background-color: transparent !important;
          }
        }
      }

      th {
        &.available {
          &.prev {
            background-image: url("../../../../../assets/icon/left-arrow.svg") !important;
            opacity: 1 !important;
            background-size: 1.2em !important;
          }

          &.next {
            background-image: url("../../../../../assets/icon/left-arrow.svg") !important;
            transform: rotate(180px);
            opacity: 1 !important;
            background-size: 1.2em !important;
          }

          &:hover {
            border-radius: 5px;
            background-color: transparent !important;
          }
        }
      }
    }

    .in-range {
      background-color: #eef3f6;
    }

    .calendar {
      border: 1px solid #efefef;
      border-radius: 5px;

      td.active {
        background-color: #8bbb04 !important;
        border-radius: 7px !important;

        &:hover {
          background-color: #8bbb04 !important;
          border-radius: 7px !important;
        }
      }
    }

    .table-condensed {
      thead {
        tr {
          &:first-child {
            background: #8bbb04;

            th {
              color: white;
            }
          }

          th {
            border: none;
            border-radius: 0px;
          }
        }
      }

      .month:focus,
      .month:hover,
      .year:focus,
      .year:hover {
        background: transparent !important;
      }
    }

    .data-picker {
      position: absolute;
      width: 40px;
      height: 100%;
      display: flex;
      justify-content: center;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 1px solid lightgray;
      cursor: pointer;
    }

    .date-picker-modal {
      position: relative;
      width: fit-content;
      transform: translateY(4%);
      border: solid 1px #cacaca;
    }
  }
}

.btn {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

/*.modal-dialog {
  margin: 0 !important;
}*/

.mat-dialog-container {
  padding: 0 !important;
}

.input-group {
  padding: 0;
}

.input-group-text {
  height: 36px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.email-wrapper .add-input-button {
  background: none;
  border: none;
  position: absolute;
  right: -40px;
  top: 18px;
  transform: translateY(-50%);
}

.input-group-btn > .btn {
  border-left-width: 0;
  left: -2px;
  border: solid 1px #cccccc;
  box-shadow: none;
  margin-right: 0;
}

.email-wrapper {
  display: flex;
  flex-direction: column;

  .email-wrapper-border {
    border-radius: 7px;
    padding: 5px;
    border: solid 1px lightgray;
    min-width: 100%;
    width: fit-content;
  }

  .email-field {
    position: relative;
    display: flex;
    min-width: 100%;

    &:not(:first-child) {
      margin-top: 15px;
    }

    .delete-email {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }

    .button {
      background: none;
      border: none;
      position: absolute;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .add-input-button clr-icon {
    width: 24px;
    height: 24px;
  }
}

.add-email-wrapper .email-field {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 10px;
  color: #8bbb04;
}

.hideCheck {
  display: none;
}

.label-custom {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.custom-check {
  display: flex;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  width: 100%;
}

.btn-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  button {
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #cccccc;
    padding: 7px 30px;
    margin: 0 20px;

    &:last-child {
      background-color: #cccccc;
      color: white;
      border: 1px solid #cccccc;
    }

    &.active {
      background: #8bbb04;
      color: white;
      border-color: #8bbb04;
    }
  }
}

.hideDatePicker {
  display: none;

}

.disable-text-color {
  color: #adadad;
}

.box-devices-params {
  width: fit-content;
  border: 1px solid #8bbb04;
  padding: 0 10px;
  border-radius: 5px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  height: 30px;
  color: #8bbb04;
}

.box-devices-params .close {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid #8bbb04;
  cursor: pointer;

  img {
    width: 15px;
    height: 15px;
  }
}

/*---------------Device Modal----------------------*/
.device-modal-container {
  .btn-custom {
    min-width: 100%;
    min-height: 36px;
    height: auto;
    padding: 0 10px;
    color: black;
    border: 1px solid black;
    background: transparent;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;

    &[disabled] {
      color: lightgray;
      background: transparent;
      border: 1px solid lightgray;
    }

    span {
      text-align: initial;
      display: flex;
      flex-wrap: wrap;
    }

    .align-img {
      transform: translateY(-1px);
    }
  }

  .modal-wrapper {
    position: relative;

    .modal-custom {
      //position: absolute;
      width: 760px;
      height: 400px;
      background: #ffffff;
      border: 1px solid lightgray;
      z-index: 99999;

      .content-wrapper {
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .modal-custom-content {
        display: inline-block;

        & > span {
          color: #8bbb04;
        }

        .check-img {
          width: 12px;
          height: 12px;
          margin-right: 5px;
          display: flex;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .content-wrapper {
        .header-controll {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid lightgray;
          padding-bottom: 20px;
          height: 100%;
          height: 60px;

          .search {
            height: 100%;
          }

          input {
            border: 1px solid #949494;
            border-radius: 5px;
            padding: 0 15px;
            height: 100%;
            outline: none;
          }

          .modal-btn {
            height: 100%;

            button {
              border: 1px solid #949494;
              background: transparent;
              margin: 0;
              outline: none;
              padding: 0 15px;
              height: 100%;
              color: #949494;
              border-radius: 5px;

              &:last-child {
                color: #8bbb04;
                border-color: #8bbb04;
                margin-left: 20px;
              }
            }
          }
        }

        .modal-content-wrapper {
          height: 100%;
          display: flex;
          overflow-x: auto;

          .custom-check {
            input {
              display: none;
            }

            label {
              margin: 0;
              align-items: baseline;
              display: inline-flex;
            }

            span {
              width: max-content;
            }

            display: flex;
            align-items: center;
            padding: 5px 0;
            width: fit-content;
            height: fit-content;
          }
        }
      }
    }
  }
}


/*--------------------------------------*/
.ngx-dropdown-container {
  width: 500px !important;
}

.button-container {
  .btn-custom {
    min-width: 100%;
    min-height: 36px;
    height: auto;
    padding: 0 10px;
    color: black;
    border: 1px solid black;
    background: transparent;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;

    &[disabled] {
      color: lightgray;
      background: transparent;
      border: 1px solid lightgray;
    }

    span {
      text-align: initial;
      display: flex;
      flex-wrap: wrap;
    }

    .align-img {
      transform: translateY(-1px);
    }
  }
}

.report-container {
  width: 96%;
  margin: 10px auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #11313D;
  padding: 15px 70px 10px 15px;
}

.ngx-dropdown-container .ngx-dropdown-list-container ul li {
  font-size: 12px;
}

.countspan{
  font-size: 12px;
}

.home-icon{
  font-size: 20px;
  color: #8bbb04;
}

.add-email-button{
  padding: 5px;
  width: 100px;
  background: #8bbb04;
  color: white;
  border: none;
  border-radius: 5px;
}

.disable-email-button{
  padding: 5px;
  width: 100px;
  background: #cccccc;
  color: white;
  border: none;
  border-radius: 5px;
}

.displayEmail{
  padding: 3px;
  margin: 5px;
  color:#8bbb04;
  border: 1px solid #8bbb04;
  border-radius: 4px;
  .close{
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
    color:#8bbb04;
    cursor: pointer;
  }
}

.display-modal{
  overflow-x: auto;
  .selected-list{
    border-radius: 4px;
    border: 1px solid #8BBB04;
    padding: 5px;
    margin: 5px;
  }
}

.fa-eye-active{
  margin-top: 5px;
  font-size: 20px;
  color: #8BBB04;
  cursor: pointer;
}

.fa-eye-inactive{
  margin-top: 5px;
  font-size: 20px;
  color: #949494;
  cursor: not-allowed;
}

