/* You can add global styles to this file, and also import other style files */

// regular style toast
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr';
// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import '~ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires

@import '~ngx-toastr/toastr-bs4-alert';
/*--------------*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "./assets/sass/table";
@import "./assets/sass/buttons";
*{
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

.material-icons{
  font-family: 'Material Icons' !important;
  font-size: 20px;
  padding: 0 3px;
  cursor: pointer;
  color:#7B7B7B;
}

.info-icon{
  font-size: 32px !important;
}

.progress-bar{
  background-color: #8bbb04 !important;
  color:black;
}

.ngx-overlay {
  background: none !important;
}

/*---------------Progress bar---------------------*/
body .ui-widget {
  font-size: 12px !important;
  font-family: Roboto;
}

body .ui-progressbar {
  height: 14px !important;
}
body .ui-corner-all {
  border-radius: 0px !important;
}
body .ui-progressbar .ui-progressbar-label {
  line-height: 16px !important;
}
body .ui-progressbar .ui-progressbar-value {
  background-color: #8bbb04 !important;
}

.ui-tooltip .ui-tooltip-text {
  background-color: #ccc !important;
  color: black !important;
}
/*-------------Scrollbar styles-----------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC
}

::ng-deep td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

/*--------------Bootstrap Default classes override------------------*/
.form-control{
  font-size: 13px !important;
}
