.new-report-button {
  height: 32px;
  width: 100px;
  border: 1px solid #8bbb04;
  background-color: white;
  color:#8bbb04;
  border-radius: 4px;
  font-size: 12px;
}

.new-report-button:hover{
  height: 32px;
  width: 100px;
  border: 1px solid #8bbb04;
  background-color: #8bbb04;
  color:white;
  border-radius: 4px;
  font-size: 12px;
}
