body .ui-table .ui-table-thead > tr > th {
  background-color: #ECEDF0 !important;
  color: #5D5C5C !important;
}

body .ui-table .ui-table-tbody > tr > td {
  background-color: #FFFFFF !important;
  //color: var(--table-body-text-color) !important;
}

/*-------------Change sorting icons-----------------*/
.teqo-table .pi-sort:before {
  content: "\e99e" !important;
}
.teqo-table .pi-sort-down:before {
  content: "\e9a0" !important;
}
.teqo-table .pi-sort-up:before {
  content: "\e99f" !important;
}

/*---------------Css to highlight sorted column---------------------*/
body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #7B7B7B !important;
  color: #ffffff !important;
}

/*-----------------Css to change pagination color---------------------*/
body .ui-paginator {
  background-color: #FFFFFF;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #7B7B7B !important;
  margin-top: 5px;
  font-size: 10px;
  color: #ffffff !important;
}

body .pi {
  font-size: 1em;
}
